In [6]:
import pandas as pd

import numpy as np

df_track = pd.read_csv(r'C:\Users\labsfiap\Desktop\Python 3 - 2 Sem\Track_202408231953.csv')

df_track.groupby('Name')['Milliseconds'].sum()

Name
"40"                                                           157962
"?"                                                           2782333
"Eine Kleine Nachtmusik" Serenade In G, K. 525: I. Allegro     348971
#1 Zero                                                        299102
#9 Dream                                                       278312
                                                               ...
É que Nessa Encarnação Eu Nasci Manga                          196519
Étude 1, In C Major - Preludio (Presto) - Liszt                 51780
Óculos                                                         219271
Óia Eu Aqui De Novo                                            219454
Último Pau-De-Arara                                            200437
Name: Milliseconds, Length: 3257, dtype: int64

In [ ]:
df_track

In [7]:
vetor = np.array([10,20,30,40,50])

vetor

array([10, 20, 30, 40, 50])

In [9]:
matriz_2d = np.array([[10,20], [4,5]])
matriz_2d

array([[10, 20],
       [ 4,  5]])

In [18]:
# estruturas Unidimensionais

import pandas as pd

s1 = pd.Series([10,20,30,40,50], name = 'Serie 1')
s2 = pd.Series([1,2,3,4,5,], name = 'Serie 2')
s3 = pd.Series(['A','B','C','B','A'], name = 'Serie 3')

s_soma = s1 + s2
s_sub = s1 - s2
s_mult = s1 * s2
s_div = s1 / s2

print(s_soma)
print(s_sub)
print(s_mult)
print(s_div)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0     9
1    18
2    27
3    36
4    45
dtype: int64
0     10
1     40
2     90
3    160
4    250
dtype: int64
0    10.0
1    10.0
2    10.0
3    10.0
4    10.0
dtype: float64

In [ ]:
import pandas as pd

s1 = pd.Series([10,20,30,40,50], name = 'Serie 1')
s2 = pd.Series([1,2,3,4,5,], name = 'Serie 2')
s3 = pd.Series(['A','B','C','B','A'], name = 'Serie 3')

df = pd.DataFrame({'Serie 1': s1, 'Serie 2': s2, 'Serie 3': s3})

df['soma'] = df['Serie 1'] + df['Serie 2']
df['sub'] = df['Serie 1'] - df['Serie 2']
df['mult'] = df['Serie 1'] * df['Serie 2']
df['div'] = df['Serie 1'] / df['Serie 2']

df.groupby('Serie 3')['soma'].max()
df.groupby('Serie 3')['soma'].min()
df.groupby('Serie 3')['soma'].mean()
df.groupby('Serie 3')['soma'].median()
df.groupby('Serie 3')['soma'].std()

In [43]:
import pandas as pd

numeros = pd.Series([1,2,3,4,5,6,7,8,9,10])

numeros1 = pd.Series([1,2,3,4,5])
numeros2 = pd.Series([2,3,4,5,6])

df_numeros = pd.DataFrame({'numeros1': numeros1, 'numeros2': numeros2})

df_numeros['Soma'] = df_numeros['numeros1'] + df_numeros['numeros2']

df_numeros = df_numeros.loc[(df_numeros['Soma'] > 5)]



df_numeros

   numeros1  numeros2  Soma
2         3         4     7
3         4         5     9
4         5         6    11

In [46]:
import pandas as pd

numeros = pd.Series([1,2,3,4,5,6,7,8,9,10])
indice = pd.Series(['A','A','B','B','C','C','D','D','E','E'])

df_teste = pd.DataFrame({'indice': indice,'numeros': numeros})

df_teste.groupby('indice')['numeros'].mean()
df_teste.groupby('indice')['numeros'].std()

indice
A    0.707107
B    0.707107
C    0.707107
D    0.707107
E    0.707107
Name: numeros, dtype: float64

In [57]:
import pandas as pd

numeros1 = pd.Series([1,2,3,4,5])
numeros2 = pd.Series([2,3,4,5,6])

concat = pd.concat([numeros1, numeros2], axis=1)

concat

   0  1
0  1  2
1  2  3
2  3  4
3  4  5
4  5  6

In [58]:
v1 = pd.Series(range(1,11))

v1.sort_values(ascending= False)

# normalizacao de dados = (valor original - valor minimo) / (valor maximo - valor minimo)

9    10
8     9
7     8
6     7
5     6
4     5
3     4
2     3
1     2
0     1
dtype: int64